@{ Layout = "~/Views/Shared/_Layout.cshtml"; }

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h2>Welcome to Admin Module User Management Functionalities...</h2>
        @*<p>
            @Html.ActionLink(linkText: "Approve Users", actionName: "ApproveUsers")
        </p>
        <p>
            @Html.ActionLink(linkText: "Approve Users", actionName: "Home", controllerName: "AdminMain")
        </p>
        <p>
            @Html.ActionLink(linkText: "View Order Summary", actionName: "OrderSummary", routeValues:
                         new { controller = "Home", area = "Order" })
        </p>
        <p>
            @Html.ActionLink(linkText: "Back to Home", actionName: "Index", routeValues:
                         new { controller = "Home", area = "" })
        </p>*@
    </div>
</body>
</html>