@model  VNStory.Web.Models.Chapter
@{
    ViewBag.Title = "Chapter";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">

    <h3>Bạn muốn xóa chapter này phải không?</h3>
    <hr />
    
    <div class="mb-3">
        <label class="form-label">@Html.DisplayNameFor(model => model.Title)</label>
    </div>
    
    <div class="mb-3">
        <label class="form-label">@Html.DisplayFor(model => model.Title)</label>
    </div>

    <div class="form-actions no-color">

        @using (Html.BeginForm("Delete", "Chapter", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            if (Model?.Title != "Administrators")
            {
                if (Model?.Title != "Users")
                {
                    <input type="submit" value="Xóa nhóm này" class="btn btn-danger" />
                }
            }

            @Html.ActionLink("Back to List", "Index", "Chapter", routeValues: new { Area = "Admin" }, htmlAttributes: new { @class = "btn btn-secondary" });
        }

    </div>

</div>