@model  VNStory.Web.Models.Category
@{
    ViewBag.Title = "Roles";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <h4>Nhóm người dùng</h4>
    <hr />
    <div class="mb-3">
        <label class="form-label">@Html.DisplayNameFor(model => model.Name)</label>
    </div>
    <div class="mb-3">
        <label class="form-label">@Html.DisplayFor(model => model.Name)</label>
    </div>
    <div class="col-12">
        @Html.ActionLink("Chỉnh sửa", "Edit", "Category", routeValues: new { Area = "Admin", id = Model.Id }, htmlAttributes: new { @class = "btn btn-primary" })
        @Html.ActionLink("Trở lại", "Index", "Category", routeValues: new { Area = "Admin" }, htmlAttributes: new { @class = "btn btn-secondary" })
    </div>
</div>
