
<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownCategoryStory" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Thể loại
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownCategoryStory">
        <li><a class="dropdown-item" href="#">Truyện ma</a></li>
        <li><a class="dropdown-item" href="#">Truyện tiếu lâm</a></li>
        <li><a class="dropdown-item" href="#">Truyện ngôn tình</a></li>
        <li><a class="dropdown-item" href="#">Truyện Trạng Quỳnh</a></li>
    </ul>
</li>