@*@Html.ActionLink("Thể loại", "Index", "SoDiem", null, new { @class = "nav-link dropdown-toggle" })*@


<li class="nav-item dropdown">
    <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownListStory" role="button" data-bs-toggle="dropdown" aria-expanded="false">
        Danh sách
    </a>
    <ul class="dropdown-menu" aria-labelledby="navbarDropdownListStory">        
        <li><a class="dropdown-item" href="#">Truyện mới cập nhật</a></li>
        <li><a class="dropdown-item" href="#">Truyện yêu thích</a></li>
        <li><a class="dropdown-item" href="#">Truyện đọc nhiều</a></li>
        <li><a class="dropdown-item" href="#">Truyện hoàn thành</a></li>
    </ul>
</li>